#login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 30px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
  }
}

.form-input {
  border-radius: 5px;
  border: 1px solid #003d7c;
  background-color: #fff;
  width: 100%;
  padding: 10px 15px;
  color: #2e2e2e;
  font-size: 16px;
  margin-bottom: 0;
}

.custom-btn {
  color: #fff;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #003d7c;
  font-size: 16px;
}
