#student-page {
  position: relative;
  height: 100vh;

  .main-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 10vh;

    img {
      object-fit: cover;
      object-position: right center;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .girl-image {
    img {
      width: unset;
      height: 90vh;
      z-index: 1;
      align-self: flex-start;
    }
  }

  .button-wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .btn-start-lesson {
    position: relative;
    width: 250px;
    padding: 20px 0;
    background-color: #edebe9;
    border: 1px solid #c62424;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.17);

    &:hover {
      span {
        color: #fff;
      }

      &:before {
        transform: translateX(-20px) skew(-30deg);
      }
    }

    &:before {
      position: absolute;
      left: 0;
      width: 320px;
      top: 0;
      height: 100%;
      background: #c62424;
      content: "";
      transform: translateX(-150%) skew(-30deg);
      z-index: 0;
      transition: all .6s ease-out;
    }

    span {
      position: relative;
      color: #c62424;
      font-size: 18px;
      z-index: 1;
      transition: color .6s ease-out;
    }
  }

  .small-text {
    width: 100%;
    max-width: 250px;
    color: #2e2e2e;
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 992px) {
  #student-page {
    .button-wrap {
      top: 20%;
    }

    .main-image {
      img {
        object-position: top center;
      }
    }
  }
}
