#teacher-page {
  position: relative;
  height: 100vh;
  padding-top: 135px;

  .container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .form-container {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #003d7c;
      z-index: 1;
    }
  }

  .form-select {
    -webkit-appearance: none;
    position: relative;
    border-radius: 5px;
    border: 1px solid #003d7c;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    color: #2e2e2e;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .btn-select-group {
    width: 100%;
    padding: 15px 0;
    border: 1px solid #003d7c;
    margin-bottom: 30px;

    &[disabled] {
      opacity: 0.5;
    }
  }
}
