<header>
  <div class="container-fluid header-container">
    <div class="image-wrap head-logo">
      <a href="/">
        <img src="images/FirstStepLogo.svg" alt="Logo">
      </a>
    </div>
  </div>
</header>
