<% var data = { title: "Admin | Login" }; %>

<%= _.template(require('../includes/head.html').default)(data) %>

<main id="login-page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="image-wrap logo">
          <a href="/">
            <img src="images/FirstStepLogo.svg" alt="Logo">
          </a>
        </div>
      </div>

      <div class="col-12 col-md-6 offset-md-3">
        <form id="login-form" action="/" class="form-container">
          <div class="form-group">
            <label for="login-input" class="form-label">Логин</label>
            <input type="text" id="login-input" name="login" class="form-input">
          </div>
          <div class="form-group">
            <label for="password-input" class="form-label">Пароль</label>
            <input type="password" id="password-input" name="password" class="form-input">
          </div>
          <button type="submit" class="custom-btn">Войти</button>
        </form>
      </div>
    </div>
  </div>
</main>

<%= _.template(require('../includes/foot.html').default)() %>
