<% var data = { title: "Admin | Home" }; %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="student-page">
  <div class="instruction-container">
    <p class="text">
      Рады приветствовать вас на онлайн-платформе курсов английского языка «The First Step»! <br>
      <br>
      Здесь — те же уроки, только не в школе, а дома с ноутбуком или телефоном. Дистанционное обучение поможет вам догнать программу и получить новые знания. <br>
      <br>
      Let's start!
    </p>
  </div>
  <div class="image-wrap main-image d-none d-lg-block">
    <img src="images/FirstStepMainImage.png" alt="Main image">
  </div>
  <div class="container">
    <div class="button-wrap">
      <span class="small-text">Тут появится кнопка начать урок, когда учитель создаст видео-чат</span>
      <a href="student.html" target="_blank" class="custom-btn btn-start-lesson"><span>Начать урок</span></a>
    </div>
    <div class="image-wrap girl-image d-none d-lg-block">
      <img src="images/GirlImage.png" alt="Girl image">
    </div>
  </div>
</main>

<%= _.template(require('../includes/foot.html').default)() %>
