<% var data = { title: "Admin | Home" }; %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="teacher-page">
  <div class="instruction-container">
    <p class="text">1. Выбирете свою группу из выпадающего списка выше</p>
    <p class="text">2. Нажмите кнопку начать урок</p>
    <p class="text">3. Урок откроется в соседнем окне</p>
  </div>
  <div class="container">
    <form action="/" id="group-form" class="form-container">
      <button type="submit" class="custom-btn btn-select-group" disabled>Начать урок</button>
      <div class="form-group">
        <select name="group" id="group-select" class="form-select">
          <option value="0" disabled selected>Выбрать группу:</option>
          <option value="1">Группа №1</option>
          <option value="2">Группа №2</option>
          <option value="3">Группа №3</option>
          <option value="4">Группа №4</option>
          <option value="5">Группа №5</option>
        </select>
      </div>
    </form>
  </div>
</main>

<%= _.template(require('../includes/foot.html').default)() %>
