$Comfortaa: 'Comfortaa', cursive;

html, body {
  font-family: $Comfortaa;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  background-color: #edebe9;

  &.is-overflow {
    overflow: hidden;
  }
}

input, button, textarea, select, option {
  outline: none !important;
}

a, p {
  text-decoration: none !important;
  margin-bottom: 0;
}

a {
  &:hover {
    color: #000;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-wrap {
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 5;
}

.head-logo {
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 9999;
  width: 60px;
}

.instruction-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  z-index: 10;
  padding: 0 15px;
}

.text {
  margin-bottom: 30px;
  color: #2e2e2e;
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.3;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .head-logo {
    top: 35px;
    left: 60px;
    width: 100px;
  }

  .instruction-container {
    left: auto;
    right: 60px;
    transform: none;
  }

  .text {
    font-size: 20px;
  }
}
